
@import 'reset';

$unit: 16px;

html, body {
  width: 100%;
  height: 100%;
  
  color: white;
  font-family: 'Roboto Mono', monospace;
  
  overflow: hidden;
}

#fps {
  position: absolute;
  top: 0;
  left: 0;
  padding: $unit * 2;
}